<mat-card>
    <mat-card-title class="card-title">Magazine e Re</mat-card-title>
    <br>
    <mat-card-content>
      <form [formGroup]="createWarehouseForm" (ngSubmit)="createWarehouse()">
        
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Emri</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="createWarehouseForm.get('name')?.hasError('required')">
              *
            </mat-error>
          </mat-form-field>
        </div>  
        <div class="form-row">
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Adresa</mat-label>
              <input matInput formControlName="location">
              <mat-error *ngIf="createWarehouseForm.get('location')?.hasError('required')">
                *
              </mat-error>
            </mat-form-field>
          </div>  
  
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Shto</button>
        </div>
      </form>
    </mat-card-content>
</mat-card>
