<mat-sidenav-container>
    <mat-nav-list>
        <a mat-list-item routerLink="/stocks" class="custom-link">
            <mat-icon> bar_chart</mat-icon>
            <span style="color: #FFF8F3;">Stoku</span>
        </a>
        <a mat-list-item routerLink="/products" >
            <mat-icon>add_box</mat-icon>
            <span style="color: #FFF8F3;">Artikuj</span>
        </a>
        <mat-form-field appearance="outline" style="background-color: #405D72; padding: 0;">
            <mat-label style="color: #FFF8F3;">
                <mat-icon style="font-size: 24px;">list</mat-icon>
                Kategorite
            </mat-label>
            <mat-select 
              (selectionChange)="onCategoryChange($event.value)" 
              style="background-color: #405D72; color: #FFF8F3; border: none;">
              <mat-option 
                *ngFor="let category of categories" 
                [value]="category.id" 
                style="background-color: #405D72; color: #FFF8F3;">
                {{ category.categoryName }}
              </mat-option>
            </mat-select>
        </mat-form-field>   

        <a mat-list-item routerLink="/orders" class="custom-link"> 
            <mat-icon>shopping_cart</mat-icon> 
            <span style="color: #FFF8F3;">Porosite</span>
        </a>
        <a mat-list-item routerLink="/customers" class="custom-link"> 
            <mat-icon>folder_shared</mat-icon>
            <span style="color: #FFF8F3;">Klientet</span>
        </a>
        <a mat-list-item routerLink="/suppliers" class="custom-link">
            <mat-icon> local_shipping</mat-icon>
            <span style="color: #FFF8F3;">Furnizuesit</span>
        </a>
        <a mat-list-item routerLink="/warehouses" class="custom-link">
            <mat-icon> store_mall_directory</mat-icon>
            <span style="color: #FFF8F3;">Magazinat</span>
        </a>
        
      </mat-nav-list>
  </mat-sidenav-container>